### Controlled by CFEngine3, template file [ {{#vars.resolv.template_2_destination}}{{$.}}{{/vars.resolv.template_2_destination}} ]  @SURF
#   files: {{{vars.scl.resolv_json_files}}}
#

search {{#vars.scl.resolv.search}}{{{domain}}} {{/vars.scl.resolv.search}}
{{#vars.scl.resolv.nameservers}}
nameserver {{{ip}}}
{{/vars.scl.resolv.nameservers}}

options {{#vars.scl.resolv.options}}{{{.}}} {{/vars.scl.resolv.options}}
